.App {
  height: 100vh;
  width: 100vw;

  margin: 0 !important;
  padding: 0 !important;

  position: relative;
}

.app-content {
  height: 100%;
  width: 100%;

  margin: 0 !important;
  padding: 0 !important;

  position: absolute;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  background-color: var(--light-color);
  z-index: 50;
}

#sidebar-div-comm {
  width: 20%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  color: white;

  background-color: var(--dark-color);
}

#sidebar-div-info {
  width: 20%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  background-color: white;
}

#sidebar-community-info-subdiv {
  height: 90% !important;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#sidebar-community-info-subdiv h3 {
  align-self: flex-start;
}

#sidebar-subdiv {
  height: 45%;
  width: 90%;

  padding: 5%;

  border-bottom: 1px solid var(--light-color);
}

#sidebar-subdiv h3 {
  height: 10%;
  vertical-align: middle !important;
}

#sidebar-communities-scroll-div {
  height: 80%;
  width: 100%;

  overflow-y: scroll;
  overflow-x: hidden;
}

#sidebar-communities-scroll-content {
  height: fit-content;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

.sidebar-community-info {
  width: 80%;
  height: fit-content;
}

#feed-content-div {
  width: 100% !important;
  height: 100%;

  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.sidebar-curr_community {
  width: 90%;
  padding: 0 20%;
  background: white;
  color: var(--dark-color);
  text-align: right;
}

#feed-div {
  width: 60%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#feed-posts-div {
  height: 80%;
  width: 90%;

  padding: 2% 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 5%;

  overflow-y: scroll !important;
}

#feed-posts-div h4 {
  padding: 0;
  margin: 0;
}

#feed-sort-by-div {
  height: 10%;
  width: 90%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#sort-by-options-div {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

#feed-content-header {
  width: 100%;

  text-align: left;
}

#new-post-div {
  height: 10%;
  width: 90%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: white;
  border-radius: 15px;
}

#share-something-div {
  height: 50%;
  width: 80%;

  padding: 0 5%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;

  background-color: var(--light-color);
  cursor: pointer;
  border-radius: 20px;
}

#share-something-div h3 {
  padding: 0;
  margin: 0;
}

#share-something-div img {
  height: 50%;
  width: auto;
}

.post-div {
  height: max-content;
  min-height: max-content;
  width: 85%;

  padding: 2% 5%;

  border-radius: 15px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  background-color: white;
}

.post-div h4 {
  margin: 0;
}

.post-content {
  height: fit-content;
  width: 80%;
}

.post-content h1 {
  margin: 0;
}

.post-comment-div {
  width: 80%;
  height: 80%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2%;
}

.post-comment-div input {
  width: 68%;
  height: 50%;
}

.post-comment-div button {
  height: 100%;
  width: 30%;
}

.post-like-div {
  height: 100%;
  width: 20%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  gap: 5px;
}

#post-like-heart-img {
  height: 20px;
  width: auto;
}

.post-action-items-div {
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

#post-expand-div {
  width: fit-content;
  height: fit-content;
  align-self: flex-start;

  margin-top: 15px;
}
#post-expand-div button {
  padding: 10px;
}

#comms-div img {
  visibility: hidden;
  width: 0px;
  height: 0px;
}
#settings-div img {
  visibility: hidden;
  width: 0px;
  height: 0px;
}

#back-div img {
  visibility: hidden;
  width: 0px;
  height: 0px;
}

@media (max-width: 680px) {
  #sidebar-div-comm.hidden {
    visibility: hidden;
    width: 0%;
  }

  #sidebar-div-comm.visible {
    visibility: visible;
    width: 100%;
  }

  #sidebar-div-info.hidden {
    visibility: hidden;
    width: 0%;
  }

  #sidebar-div-info.visible {
    visibility: visible;
    width: 100%;
  }
  
  #feed-div {
    width: 100%;
    height: 100%;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  #feed-content.hidden {
    visibility: hidden;
    width: 0%;
  }

  #feed-content.visible {
    visibility: visible;
    width: 100%;
  }

  .post-div {
    height: 80%;
  }

  #overlay-content.black-bottom-shadow {
    height: 75%;
  }

  #settings-div img.visible {
    visibility: visible;
    width: 40px;
    height: 40px;
  }

  #comms-div img.visible {
    visibility: visible;
    width: 40px;
    height: 40px;
  }

  #settings-div img.hidden {
    visibility: hidden;
    width: 0px;
    height: 0px;
  }

  #comms-div img.hidden {
    visibility: hidden;
    width: 0px;
    height: 0px;
  }

  #back-div img.visible {
    visibility: visible;
    width: 40px;
    height: 40px;
  }

  #back-div img.hidden {
    visibility: hidden;
    width: 0px;
    height: 0px;
  }

  #feed-content-header {
    min-width: 80%;
  }

  #feed-content-header h1 {
    font-size: 30px;
  }

  #feed-top-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  #feed-content-div {
    width: 100% !important;
    height: 100%;

    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
}