:root {
  --light-color: #F0F2F5;
  --middle-color: #959595;
  --dark-color: #4A4A4C;
}

@font-face {
  font-family: Community;
  src: url("./fonts/Community-Regular.otf") format("opentype");
}

@font-face {
  font-family: Community;
  font-style: italic;
  src: url("./fonts/Community-Italic.otf") format("opentype");
}

@font-face {
  font-family: Community;
  font-weight: lighter;
  src: url("./fonts/Community-Light.otf") format("opentype");
}

@font-face {
  font-family: Community;
  font-style: italic;
  font-weight: lighter;
  src: url("./fonts/Community-LightItalic.otf") format("opentype");
}

@font-face {
  font-family: Community;
  font-weight: bold;
  src: url("./fonts/Community-Semibold.otf") format("opentype");
}

@font-face {
  font-family: Community;
  font-style: italic;
  font-weight: bold;
  src: url("./fonts/Community-SemiboldItalic.otf") format("opentype");
}

body {
  padding: 0 !important;
  margin: 0 !important;
  color: var(--dark-color);
}

h1 {
  font-family: Community;
  line-height: bold;
}


p {
  font-family: Community;
  line-height: normal;
}

h2 {
  font-family: Community;
  font-weight: bold;
}

h3 {
  font-family: Community;
}

h4 {
  font-family: Community;
  line-height: bold;
}

label {
  font-family: Community;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--dark-color);
  border-radius: 15px;
}

.cursor-pointer {
  cursor: pointer;
}

.black-and-white-shadow {
  background: rgb(39,40,44);
  background: linear-gradient(90deg, rgba(39,40,44,1) 0%, rgba(17,20,28,1) 100%);
  box-shadow: 5px 5px 5px 3px rgb(0, 0, 0),
              1px 1px 10px 2px #50525B;
}

.black-bottom-shadow {
  box-shadow: 2px 5px 10px -5px var(--dark-color);
  z-index: 1000;
}

.flex-row {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.space-between {
  justify-content: space-between !important;
}

.dark-color-background {
  background-color: var(--dark-color);
  color: white;

  padding: 10%;

  border-radius: 15px;
}

.white-color-background {
  background-color: white;
  color: var(--dark-color);

  padding: 10%;

  border-radius: 15px;
}

.light-gray-color-background {
  background-color: var(--light-color);
  color: var(--dark-color);

  padding: 10%;

  border-radius: 15px;
}

.text-field {
  width: 100%;
}

button {
  width: 100%;
  padding: 10px 0;
  
  border-radius: 10px;
  border: none;
  outline: none;
  color: white;

  background-color: var(--middle-color);
  cursor: pointer;
  box-shadow: 2px 5px 10px -5px var(--dark-color);
}

button:hover {
  border-radius: 10px;
  border: none;
  outline: none;
  color: white;

  background-color: var(--dark-color);
  cursor: pointer;
}

.button-disabled {
  border-radius: 10px;
  border: none;
  outline: none;
  color: var(--middle-color);

  background-color: var(--light-color);
  cursor:not-allowed;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

#overlay-background {
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(10px);

  position: absolute;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 500;
}

#overlay-content {
  width: 70%;
  height: 60%;

  padding: 2% 5%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  background-color: var(--light-color);
  border-radius: 15px;
}

.small-button {
  width: fit-content;
  padding: 10px;
}