#newpost-header {
    width: 100%;
    height: 10%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#newpost-header button {
    width: fit-content;
    padding: 10px;
}

#newpost-input-div {
    width: 100%;
    height: 60%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.post-text-field {
    width: 100%;
    height: 70%;

    text-align: left;
    vertical-align: top;
}

#newpost-user-info {
    width: 100%;
    height: 15%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#newpost-user-info h3, h4 {
    margin: 0;
}