#post-expanded-header {
    height: 20%;
    width: 100%;

    background-color: thistle;
}

.post-expanded-div {
    height: 100%;
    width: 100%;

    padding: 2% 0;
    
    overflow-y: scroll;
    overflow-x: hidden;
}

.post-expanded-scroll-content {
    height: fit-content;
    width: 100%;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

#post-text {
    width: 80%;
    height: fit-content;

    padding: 5%;

    background-color: white;

    border-radius: 10px;
}

.post-expanded-action-items-div {
    width: 90%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.post-expanded-action-items-div button {
    width: fit-content;
    padding: 10px;
}

.post-expanded-action-items-div input {
    width: 80%;
}

.post-expanded-like-div {
    height: fit-content;
    width: 90%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

#comment-div {
    width: 80%;
    height: fit-content;

    padding: 5%;

    background-color: white;

    border-radius: 10px;
}

.comment-subdiv {
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}


#post-comments {
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: flex-start;
    gap: 20px;
}